{
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "globals": {
    "SELECT": true,
    "INSERT": true,
    "UPDATE": true,
    "DELETE": true,
    "CREATE": true,
    "DROP": true,
    "CDL": true,
    "CQL": true,
    "CXL": true
  },
  "rules": {
    "no-unused-vars": ["warn", { "argsIgnorePattern": "lazy" }],
    "no-extra-semi": "off"
  }
}
