# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Release

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    environment: npm
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/
      - run: npm i
      - run: npm test -w db-service -w sqlite -w postgres -- --maxWorkers=1
      - name: get-version # this takes the version of the monorepo root
        id: package-version
        uses: martinbeentjes/npm-get-version-action@v1.2.3
      - name: Create a GitHub release
        uses: ncipollo/release-action@v1
        with:
          tag: 'v${{ steps.package-version.outputs.current-version}}'
          name: 'Release v${{ steps.package-version.outputs.current-version}}'
          # prerelease: true
          # body: changelog...
      - run: npm publish --workspace db-service --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
      - run: npm publish --workspace sqlite --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
      - run: npm publish --workspace postgres --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
