on:
  push:
    branches:
      - main
name: release-please
jobs:
  release-please:
    permissions:
        contents: write
        pull-requests: write
        packages: write
        id-token: write
    runs-on: ubuntu-latest
    environment: npm
    steps:
      # v4.4.0
      - uses: googleapis/release-please-action@64d83e95d898ede84e4555719aba555c3244d469
        id: release
        with:
          token: ${{secrets.CDS_DBS_TOKEN}}
      # The logic below handles the npm publication:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'

      ## debug info
      - run: echo '${{ toJSON(steps.release.outputs) }} '

      # Publish packages
      - name: Publish db-service
        if: ${{ steps.release.outputs.db-service--release_created }}
        run: npm publish --workspace db-service --access public --provenance

      - name: Publish sqlite
        if: ${{ steps.release.outputs.sqlite--release_created }}
        run: npm publish --workspace sqlite --access public --provenance

      - name: Publish postgres
        if: ${{ steps.release.outputs.postgres--release_created }}
        run: npm publish --workspace postgres --access public --provenance

      - name: Publish SAP HANA
        if: ${{ steps.release.outputs.hana--release_created }}
        run: npm publish --workspace hana --access public --provenance
