name: Tests

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened, auto_merge_enabled]

# Allow parallel jobs on `main`, so that each commit is tested. For PRs, run only the latest commit.
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    name: Tests
    permissions:
      packages: write

    strategy:
      fail-fast: true
      matrix:
        node: [22]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'

      - run: npm ci
      # REMOVE ONCE hdi-deploy 5.4.2 is released
      # see cap/issues#18158
      - run: npm install -g @sap/cds-dk@8.8.2
      - run: npm run lint
      - id: hxe
        uses: ./.github/actions/hxe
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # testing
      - run: npm test -ws
        env:
          FORCE_COLOR: true
          TAG: ${{ steps.hxe.outputs.TAG }}
          IMAGE_ID: ${{ steps.hxe.outputs.IMAGE_ID }}
